@model UserViewModel
<h1 class="heading">Gifts</h1>
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div>@ViewBag.ErrorMessage</div>
}
@{
    int userId = 0;
<input asp-for="Id" type="hidden" />
<ul>
    @foreach (var gift in ViewBag.Gifts)
    {
        <li>
            @gift.Title
            <a class="button is-warning" asp-action="Edit" asp-route-id="@gift.Id">Edit</a>
            <a class="button is-danger" asp-action="Delete" asp-route-id="@gift.Id" onclick="return confirm('Are you sure you want to delete @gift.Title?')">Delete</a>
            @{userId = gift.UserId;}
        </li>
    }
</ul>
<a asp-controller="Gifts" asp-action="Add" asp-route-id="@userId" class="button is-primary">Add Gifts</a>
<a class="button is-light" asp-action="Index">Cancel</a>
}