<h1 class="heading">Users</h1>
<hr width="25%" />

@foreach (var user in ViewBag.Users)
{
    <p>@user.FirstName @user.LastName</p>
    
    <div class="buttons are-small">
        <a asp-controller="Users" asp-action="Update" asp-route-userId="@user.Id" class="button is-info">Update</a>
        <a asp-controller="Users" asp-action="Remove" asp-route-userId="@user.Id" class="button is-danger"
            onclick="return confirm('Are you sure you want to delete @user.FirstName @user.LastName?')">Remove</a>
        <br />
        <br />
    </div>
}

<a asp-controller="Users" asp-action="Add" class="button is-primary">Add User</a>
